@import url('https://fonts.googleapis.com/css?family=Nunito');
@import '_siasar-variables';
@import 'node_modules/geodashboard/src/styles/dashboard';

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: $font-family-base;
  font-size: $font-size-base;
  color: $primary-color;
}

body {
  display: flex;
  flex-direction: column;
}

.header {
  height: 3em;
  padding-left: $default-spacing;
  background-color: $primary-color;
  display: flex;
  align-items: center;
  color: $background-color;
  font-size: 1.2em;

  span {
    padding-left: $default-spacing;
  }

  img {
    height: 65%;
  }
}

.content {
  flex: 1;
  min-height: 0;
}

.widget-panel {
  width: $widget-width * 2;
}

.info-popup {
  font-size: 0.8em;

  dl dd {
    margin-bottom: $default-spacing / 2;
    font-size: 1em;
  }

  img {
    width: 100%;
    max-height: 10em;
  }

  a {
    text-decoration: none;
    color: $primary-color;
    display: block;
    text-align: right;
    font-size: 0.9em;
  }
}

.category-widget ul li.category .meter {
  background: $primary-light;
}

.layer-switcher.ol-control {
  li.group {
    padding-left: $default-spacing * 2.5;
    padding-right: $default-spacing * 2.5;

    &.overlay-group {
      li.layer {
        &:nth-child(3) {
          border-bottom: 2px solid rgba(102, 102, 102, 0.1);
          margin-left: -($default-spacing * 2.5);
          padding-left: $default-spacing * 2.5;
          margin-right: -($default-spacing * 2.5);
          padding-right: $default-spacing * 2.5;
          padding-bottom: $default-spacing;
        }

        &:nth-child(4) {
          padding-top: $default-spacing;
        }
      }
    }
  }

  li.layer {
    label {
      text-align: left;
      min-width: initial;
    }

    input {
      &:checked ~ label {
        &:before {
          position: absolute;
          left: $default-spacing;
          content: '▶︎';
          font-size: 0.8em;
        }
      }
    }
  }
}

.ol-control {
  border: none;
}

@include tablet {
  .widget-panel {
    width: $widget-width;
  }
}

@include large-desktop {
  .widget-panel {
    width: $widget-width * 2;
  }

  .widget {
    width: 50%;
  }
}
